.content
  .contents
    %p= @nickname 
    さんの投稿一覧

    - @posts.each do |post|
      .contentleft__post
        .contentleft__post__list
          .contentleft__post__list__show
            %span
              = icon('fa', 'angle-down')
            %ul.contentleft__post__list__more__btn
              %li.contentleft__post__list__more__btn__show
                = link_to '詳細', "/posts/#{post.id}",  method: :get
              - if user_signed_in? && current_user.id == post.user_id
                %li.contentleft__post__list__more__btn__edit
                  = link_to '編集', "/posts/#{post.id}/edit",  method: :get
                %li.contentleft__post__list__more__btn__delete
                  = link_to '削除', "/posts/#{post.id}",  method: :delete
        .contentleft__post__data
          .contentleft__post__data__data
            = post.created_at.strftime("%Y/%m/%d")
        .contentleft__post__text
          .contentleft__post__text__text
            = simple_format(post.text)
        .contentleft__post__image
          .contentleft__post__image__photo
            = image_tag post.image.url, class: 'contentleft__post__image__photo' if post.image.present?

  -# = render 'posts/side' 

  = paginate(@posts)