.content
  NEW POST
  .contents
    - @posts.each do |post|
      .contentleft
        .contentleft__post
          .contentleft__post__list
            %ul.contentleft__post__list__link
              %li.contentleft__post__list__link__user-link
                = link_to  post.user.nickname, "/users/#{post.user_id}",  method: :get
            .contentleft__post__list__more
              %span
                = icon('fa', 'angle-down')
              %ul.contentleft__post__list__more__btn
                %li.contentleft__post__list__more__btn__show
                  = link_to '詳細', "/posts/#{post.id}",  method: :get
              - if user_signed_in? && current_user.id == post.user_id
                %ul.contentleft__post__list__more__btn
                  %li.contentleft__post__list__more__btn__edit
                    = link_to '編集', "/posts/#{post.id}/edit",  method: :get
                  %li.contentleft__post__list__more__btn__delete
                    = link_to '削除', "/posts/#{post.id}",  method: :delete
          .contentleft__post__data
            .contentleft__post__data__data
              = post.created_at.strftime("%Y/%m/%d")
          .contentleft__post__text
            .contentleft__post__text__text
              = simple_format(post.text)
          .contentleft__post__image
            .contentleft__post__image__photo
              = image_tag post.image.url, class: 'contentleft__post__image__photo' if post.image.present?

    = paginate(@posts)

    -# = render "side"

    

-# .contents
-#   - @posts.each do |post|
-#     .content__post
-#       .content__post__list
-#         %ul.content__post__list__link
-#           %li.content__post__list__link__user-link
-#             = link_to  post.user.nickname, "/users/#{post.user_id}",  method: :get
-#         .content__post__list__more
-#           %span
-#             = icon('fa', 'angle-down')
-#           %ul.content__post__list__more__btn
-#             %li.content__post__list__more__btn__show
-#               = link_to '詳細', "/posts/#{post.id}",  method: :get
-#           - if user_signed_in? && current_user.id == post.user_id
-#             %ul.content__post__list__more__btn
-#               %li.content__post__list__more__btn__edit
-#                 = link_to '編集', "/posts/#{post.id}/edit",  method: :get
-#               %li.content__post__list__more__btn__delete
-#                 = link_to '削除', "/posts/#{post.id}",  method: :delete
-#       .content__post__data
-#         %p.content__post__data__data
-#           = post.created_at.strftime("%Y/%m/%d")
-#       .content__post__text
-#         %p.content__post__text__text
-#           = simple_format(post.text)
-#       .content__post__image
-#         %p.content__post__image__photo
-#           = image_tag post.image.url, class: 'content__post__image__photo' if post.image.present?

    
-#   = paginate(@posts)

-#   %footer.footer
-#     .footer__menu
-#       %a{:href => "/"} Up Make
